html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: bold;
}

.main-content {
  margin-left: 2rem;
  margin-right: 2rem;
}

body {
  background: #DAE2F8;
  background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4);
  background: linear-gradient(to left, #DAE2F8 , #D6A4A4);
}
