.love-letter-player-hand {
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card-button {
    padding: 0;
    border: 0;
    margin: 0.5rem;

    border-radius: 12px;

    &:hover {
      box-shadow: 0 0 2rem 0 #47a1e6;

      &:disabled {
        box-shadow: none;
      }
    }
  }

  .targeted-card-container {
    position: relative;
  }

  .targeted-card-form {
    position: absolute;
    top: 3rem !important;
    left: 10% !important;
    width: 80% !important;
  }
}
